.krabbyCoin {
    display: flex;
    margin: 3px auto;
    width: 13rem;
    height: 13.3rem;
}

.main__txt {
    text-align: center;
    margin-top: -2rem;
}

.sub__txt {
    margin: 1rem 1rem;
    font-weight: 500;
}

.task__style {
    width: 80px;
    height: 70px;
    margin-right: 0.7rem;
}
