.hidden-div.visible {
    display: block;
    margin: 30px 70px;
    text-align: center;
    color: black;
}

.krabbyCoin {
    padding: 3rem;
}

.invite__style {
    width: 83px;
    height: 65px;
}

.telegram__style {
    margin-top: -5px;
    width: 60px;
    height: 60px;
}

.invite-button-container {
    display: flex;
    margin: 2rem 90px;
    align-items: center;
    gap: 10px;
}

.invite-button {
    background-color: white;
    color: black;
    padding: 15px 25px;
    border-radius: 25px;
    font-size: 1.3rem;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy-icon {
    background-color: #f0f0f0;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy__icon {
    width: 2rem;
    height: 2rem;
}

.hidden-div {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
}