.task__style {
    width: 80px;
    height: 80px;
}

.task__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)));
    --tw-translate-x: 50%;
    width: calc(100% - 2rem
            /* 32px */
        );
    max-width: 30rem;
    background-color: rgb(39, 42, 47, 1);
    z-index: 50;
    border-radius: 1rem;
    line-height: 1rem;
    margin-top: 15px;
}

.task__contents {
    display: flex;
    color: whitesmoke;
    padding: 0.5rem;
}

.task__contents h3 {
    font-size: 1.3rem;
    padding-left: 0.5rem;
}

.task__contents h5 {
    font-size: 1rem;
}
