.task__container {
    margin: 0 auto;
    display: flex;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)));
    --tw-translate-x: 50%;
    width: calc(100% - 2rem
            /* 32px */
        );
    max-width: 30rem;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: rgb(39, 42, 47, 1);
    z-index: 50;
    border-radius: 0.7rem;
    color: white;
    margin-top: 15px;
}

.task__contents {
    display: flex;
    align-items: center;
    width: 100%;
}

.task__text {
    display: flex;
    flex-direction: column;
}

.task__title {
    margin: 0;
    color: #ffa500;
    font-weight: 600;
}

.task__subtitle-container {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
}

.task__icon {
    width: 50px;
    height: 40px;
    margin-left: -1rem;
}

.task__subtitle {
    margin: 0;
    margin-left: -0.5rem;
    font-weight: 200;
}