body {
  background-color: rgb(19, 19, 25);
  color: #fff;
}

.icon__container {
  display: flex;
  align-items: center;
  --tw-space-x-reverse: 0;
  margin-right: calc(0.5rem
      /* 8px */
      * var(--tw-space-x-reverse));
  margin-left: calc(0.5rem
      /* 8px */
      * calc(1 - var(--tw-space-x-reverse)));
  padding-top: 1rem;
}

.icon {
  padding: 0.25rem;
  border-radius: 0.5rem;
  background-color: rgb(29, 32, 37, 1);
}

.icon__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-left: 0.30rem;
}

.svg__size {
  width: 50px;
  height: 50px;
}

.footer__svg__size {
  width: 32px;
  height: 32px;
  padding: 5px 0 0 0;
}

.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading,
.sub-heading {
  text-align: center;
}

.footer__container {
  bottom: 2rem;
  position: fixed;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)));
  --tw-translate-x: 50%;
  width: calc(100% - 2rem
      /* 32px */
    );
  max-width: 36rem;
  background-color: rgb(39, 42, 47, 1);
  z-index: 50;
  border-radius: 1.5rem;
  font-size: 1rem;
  line-height: 1rem;
  margin-top: 10px;
}

.footer__content {
  text-align: center;
  color: rgb(133, 130, 125, 1);
  width: 20%;
  background-color: rgb(28, 31, 36, 1);
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer__contentII {
  text-align: center;
  color: rgb(133, 130, 125, 1);
  width: 20%;
  margin: 0.25rem;
  padding: 0.5rem;
  border-radius: 1rem;
}

.footer__text {
  margin-top: 0.25rem;
  text-decoration: none;
  color: #85827d;
}

@media (min-width: 480px) {
  .heading {
    text-align: center;
  }

  .footer__container {
    left: 3%;
    font-size: 0.9rem;
  }

  .footer__content {
    padding: 0.3rem;
  }

  .footer__contentII {
    padding: 0.3rem;
  }
}

@media (min-width: 320px) {
  .heading {
    text-align: center;
    font-size: 1.3rem;
  }

  .sub-heading {
    font-size: 0.8rem;
  }

  .footer__container {
    left: 1%;
    width: 25.3rem;
    font-size: 0.7rem;
  }

  .footer__content {
    padding: 0.3rem;
  }

  .footer__contentII {
    padding: 0.3rem;
  }
}